@CHARSET "ISO-8859-1";

.text
{

    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

}

.anchorepane
{
	-fx-border-color: #2e8b57;
    -fx-border-width: 2px;
}

#CenterAnchorpane
{
	-fx-border-color: #2e8b57;
    -fx-border-width: 2px;
}